<!--View Information-->
<!--View name : Note Detail-->
<!--Controller name : noteDetailCtrl-->
<!--Controller path : www/templates/application-storage/local-application-db/js/controllers.js-->
<!--State name : app.notedetail-->
<!--URL : #app/notedetail-->

<ion-view view-title="">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="OnBackButton()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->
    <ion-nav-buttons side="right">

        <div class="buttons buttons-right custom-nav-btns">

        <md-menu md-position-mode="target-right target" class="md-list-item-md-menu-right">
                <span ng-click="$mdOpenMenu()">
                    <md-icon md-menu-origin md-svg-icon="more"></md-icon>
                </span>
                <md-menu-content width="1">
                    <md-menu-item>
                        <a class="md-button md-default-theme" ng-click="deleteNote()">
                            <span class="menu-item-button">Delete</span>
                        </a>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>
   </div>
    </ion-nav-buttons>

    <!--note detail section-->
        <ion-content class="scroll-content ionic-scroll  has-header">
    <div class="scroll detail-page" style="transform: translate3d(0px, 0px, 0px) scale(1);">
      <!--toolbar section-->
      <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium toolbar-in-content md-default-theme">
        <div class="">
          <h1><span class="color-grey">{{item.title}}</span></h1>
          <h5><span class="color-grey">{{item.date |date: 'dd MMM yyyy'}} &nbsp; | &nbsp; {{item.date | date:'hh:mm a'}}</span></h5>
        </div>
       </md-toolbar>
      <!--end toolbar section-->
      <div id="note-detail-content">

        <div class="note-main-holder">
           {{item.description}}
        </div>
      </div>
      <!--end content section-->
    </div>
  </ion-content>
        <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" ng-click="updateNote('app.notesupdate')" aria-label="Add">
            <i class="icon-pencil"></i>
        </a>
    </div>


    <!--angular template section-->
    <script type="text/ng-template" id="contract-actions-template">
        <md-bottom-sheet class="md-list md-has-header">
            <h1 class="md-bottom-sheet-header">Note Actions</h1>
            <!--list section-->
            <md-list>
               <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-class="{ 'disabled-link': disableSaveBtn}"
                       ng-click="saveNote(note,$event)">
                        <i class="ion-android-list"></i>
                        <span>Save Note</span>
                    </a>
                </md-list-item>

                <md-list-item ng-show="actionDelete">
                    <a href class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="deleteNote()">
                        <i class="ion-android-delete"></i>
                        <span>Remove Note</span>
                    </a>
                </md-list-item>
            </md-list>
            <!--end list section-->
        </md-bottom-sheet>
    </script><!--end angular template section-->

</ion-view>
<style>
.color-grey{ color:#aeb0b4;}
 .bar.bar-balanced .title{ color:#7d8085; }
 a.md-button.md-accent.md-raised, a.md-button.md-accent.md-fab, .md-button.md-accent.md-raised, .md-button.md-accent.md-fab {
    color: rgb(255,255,255);
    background-color:#7d8085;
}
a.md-button.md-accent.md-raised:not([disabled]):hover, a.md-button.md-accent.md-fab:not([disabled]):hover, .md-button.md-accent.md-raised:not([disabled]):hover, .md-button.md-accent.md-fab:not([disabled]):hover{
    color: rgb(255,255,255);
    background-color:#7d8085;
}
</style>
