<!--View Information-->
<!--View name : Expense Dashboard-->
<!--Controller name : expenseDashboardCtrl-->
<!--Controller path : www/templates/themes/expense-dashboard/js/controllers.js-->
<!--State name : app.expense-->
<!--URL : #app/expense-->

<ion-view title="Calendar" >



    <!--right button on navigation bar-->
    <ion-nav-buttons side="right">
        <!--<md-button class="md-icon-button ion-nav-button-right" ng-click="goToSetting()"
                   aria-label="Setting">
            <i class="ion-android-more-vertical"></i>
        </md-button>-->
    </ion-nav-buttons> <!--end right button on navigation bar-->



    <!--expense toolbar section-->

    <!--expense content section-->
    <ion-content class="all-list-content">

        <!--Below code it will disable animation to better performance-->
        <div ng-if="!isAnimated" class="list-expense-menu">
            <div class="list-expense-menu-item" ng-click="calanderDetail('app.calendarview',$index)" ng-repeat="calander in calanders">
                <div class="row">
                    <div class="col-20">
                        <center><p class="list-date color-yellow">{{calander.end | date:'dd'}}</p>
                        <p class="list-month">{{calander.end | date:'MMM'}}</p></center>
                    </div>
                    <div class="col-80 menu">
                        <p class="header">{{calander.title}}</p>
                        <p class="detail">{{calander.start | date:'hh:mm a'}}-
                        {{calander.end | date:'hh:mm a'}}
                        </p>
                        <p class="detail" ng-if="calander.priority=='1'"><small><i class="icon-diamond color-red"></i> high priority</small></p>
                        <p class="detail" ng-if="calander.priority=='0'"><small><i class="icon-diamond color-green"></i> Normal priority</small></p>
                        <p class="detail" ng-if="calander.priority=='2'"><small><i class="icon-diamond color-blue"></i> Low priority</small></p>

                    </div>
                </div>
            </div>
        </div>

        <!--Below code it will show animation when selecting row.-->
        <md-list ng-if="isAnimated">
            <div ng-repeat="calander in calanders">
            <md-list-item class="row" ng-click="navigateTo('app.calendarview')">
                <div class="col-20">
                    <center><p class="list-date color-yellow">08</p>
                        <p class="list-month">Feb</p></center>
                </div>
                <div class="col-80 menu">
                   <p class="header">{{calander.title}}</p>
                        <p class="detail">12:00pm - 1:30pm</p>
                        <p class="detail">
                        <small>
                        <i class="icon-diamond color-red"></i> high priority
                        </small>
                        </p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            </div>
        </md-list>
    </ion-content><!--end expense content section-->
    <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" ng-click="navigateTo('app.calendarnew')" aria-label="Add">
            <i class="ion-android-add"></i>
        </a>
    </div>
</ion-view>

<style>
 .bar.bar-balanced .title{ color:#ebab21; }
 a.md-button.md-accent.md-raised, a.md-button.md-accent.md-fab, .md-button.md-accent.md-raised, .md-button.md-accent.md-fab {
    color: rgb(255,255,255);
    background-color:#ebab21;
}
a.md-button.md-accent.md-raised:not([disabled]):hover, a.md-button.md-accent.md-fab:not([disabled]):hover, .md-button.md-accent.md-raised:not([disabled]):hover, .md-button.md-accent.md-fab:not([disabled]):hover{
    color: rgb(255,255,255);
    background-color:#ebab21;
}
</style>
