<!--View Information-->
<!--View name : Fake Login-->
<!--State name : app.fakeLogin-->
<!--URL : #app/fakeLogin-->
<ion-view title="">
<!--left button on navigation bar-->
<ion-nav-buttons side="left">
  <!--<a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>-->
</ion-nav-buttons>
<!--end left button on navigation bar-->
<!--login content section-->
<ion-content id="social-login" class="bg-login-reg">
<!--fake login form section-->
<form method="post" ng-submit="doLogin(loginData)">
  <div> <img src="img/app_icon.png"/> </div>
  <div class="login-reg-holder">
    <label class="item item-input item-stacked-label"> <span class="input-label">User Name</span>
      <input type="text" placeholder="John" ng-model="loginData.user_mail">
    </label>
    <label class="item item-input item-stacked-label"> <span class="input-label">Password</span>
      <input type="password" placeholder="" ng-model="loginData.password">
    </label>
    <button type="submit" class="md-raised md-button md-default-theme login-reg-button">{{loginTxt}}</button> 
    <!--<div class="md-actions" layout="row" layout-align="start center">
                    <span class="color-white">forgot password?</span>
                </div>-->
                <div class="md-actions" layout="row" layout-align="center center">
                    <span class="color-white newuser-link" ng-click="navigateTo('app.fakeSignUp')">new user?</span>
                </div>
    </div>
</form>

<!--end fake login form section-->
</ion-content>
<!--end login content section-->
</ion-view>

<style>
.pane, .view{ background-color:#272f3c;}
.bar.bar-balanced {
	display:none;
}
.has-header {
	top:0;
}
</style>
