.color-white{ color:#fff;}
.bg-white{ background:#fff;}

.color-red{ color:#e74c3c;}
.bg-red{ background:#e74c3c;}

.color-green{ color:#92c144;}
.bg-green{ background:#92c144;}

.color-blue{ color:#56b1d3;}
.bg-blue{ background:#56b1d3;}

.color-grey{ color:#7d8085;}
.bg-grey{ background:#7d8085;}

.color-orange{ color:#f58024;}
.bg-orange{ background:#f58024;}

.color-yellow{ color:#ebab21;}
.bg-yellow{ background:#ebab21;}

.color-oceangreen{ color:#19a186;}
.bg-oceangreen{ background:#19a186;}

